@media screen and (min-width: 450px) {
  .services__cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
  }
  .stats-section .container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .sponsors-section .container {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 18px;
  }
  body {
    background-color: #fff;
  }
  .header {
    box-shadow: none;
  }
  .header__navbar {
    display: flex;
    gap: 15px;
  }
  .menu-icon {
    display: none;
  }
  .section {
    box-shadow: none;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .hero-section .container {
    flex-direction: row;
  }
  .services__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .stats-section .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .features__filter ul {
    flex-direction: row;
    gap: 1.5rem;
    padding: 1.5rem 0;
  }
  .features__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .choose-plan__cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .blog__posts {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .choose-plan__cards {
    grid-template-columns: 1fr 1fr;
  }
  .choose-plan__card {
    margin: 0;
  }
  .sponsors__image-container:nth-child(2),
  .sponsors__image-container:nth-child(3) {
    display: initial;
  }
}
@media screen and (min-width: 1000px) {
  .choose-plan__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .sponsors__image-container {
    display: initial;
  }
}
