/* ======= GENERAL CSS RULES ========= */

body {
  background-color: rgb(233, 241, 243);
}
.section {
  padding: 6% 0;
  background-color: #fff;
  /* box-shadow: 0px 0px 1px black; */
}
.container {
  padding: 0;
}
.section-subtitle {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
p {
  color: grey;
}

/*========== HEADER SECTION =========*/

.header {
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: #fff;
  /* box-shadow: 0px 0px 1px black; */
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navbar {
  display: none;
}
.header__logo-container {
  display: flex;
  align-items: center;
}
.header__logo-icon {
  margin-right: 8px;
  padding: 10px;
}
.header__logo-text {
  font-size: 24px;
  margin: 0;
}
.menu-icon {
  font-size: 24px;
  cursor: pointer;
}
.header__navbar {
  font-size: 15px;
  padding: 0 10px;
  font-weight: 600;
}
.header__navbar__link.active {
  color: #8490ff;
}
.header__navbar__link:hover {
  color: #8490ff;
}
/*======== HERO SECTION ========*/

.hero-section .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero__left {
  padding-bottom: 2rem;
  flex-basis: 50%;
}
.hero__title {
  font-size: 3rem;
  font-weight: 600;
  padding: 0.5rem 0;
}
.hero__text {
  padding-bottom: 1rem;
}
.hero__btn {
  border: 0;
  background-image: linear-gradient(
    to right,
    rgb(70, 70, 194),
    rgb(161, 161, 219)
  );
  color: #fff;
  text-transform: uppercase;
  padding: 12px 20px;
}
.hero__btn:hover {
  box-shadow: -6px 10px 7px -3px rgb(0 0 0 / 78);
}
.hero__right {
  align-self: center;
  flex-basis: 40%;
  text-align: center;
}
.hero__image {
  width: 70%;
}

/* ========SERVICES section============ */

.section-header {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}
.section-header__title {
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
}
.section-header__text {
  font-size: 0.8rem;
  padding-bottom: 0.8rem;
}
.services__cards {
  display: grid;
  grid-template-columns: auto;
  row-gap: 4rem;
  padding: 2rem 0;
}
.services__card {
  padding: 0rem;
  text-align: center;
  font-size: 0.9rem;
}
.services__card__icon {
  font-size: 30px;
  padding-bottom: 1rem;
}
.services__card__title {
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.services__card__header:hover {
  color: #8490ff;
}

/* =========STATS section=========== */
.stats-section {
  background-image: linear-gradient(
    to right,
    rgb(70, 70, 194),
    rgb(161, 161, 219)
  );
}
.stats-section .container {
  display: grid;
  grid-template-columns: auto;
  color: #fff;
  row-gap: 1rem;
}
.stats__card {
  text-align: center;
}
.stats__number {
  font-size: 2rem;
  font-weight: 600;
}
.stats__comment {
  color: #fff;
}

/* =======FEATURES section======= */

.features__filter {
  text-align: center;
}
.features__filter ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
.feature__filter__item {
  padding-bottom: 4px;
  transition: 0.5s ease-in-out;
}
.feature__filter__item.active {
  color: #8490ff;
}
.feature__filter__item:hover {
  border-bottom: 2px solid black;
}
.features__card__image-container {
  position: relative;
}
.features__cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}
.features__card {
  text-align: center;
  padding: 1rem;
}
.features__card__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.features__card__image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to right,
    rgb(68, 68, 161),
    rgb(230, 165, 230)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}
.features__card__image-overlay img {
  text-align: center;
}
.features__card__image-overlay:hover {
  opacity: 0.8;
}
.features__card__title {
  padding: 0.4rem 0;
}

/* ======CHOOSE PLAN section======== */

.choose-plan__cards {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1.5rem;
}
.choose-plan__card {
  margin: 0 7%;
  text-align: center;
  padding: 2.5rem 1rem;
  background-color: #f9f9ff;
  transition: all 0.3s ease;
}
.choose-plan__card-top h3 {
  width: fit-content;
  height: fit-content;
  padding: 30px 40px;
  border: 30px solid #8490ff73;
  font-weight: normal;
  font-size: 3rem;
  background-color: rgba(211, 211, 211, 0.322);
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.choose-plan__card-top h5 {
  font-size: 24px;
}
.choose-plan__card-top p {
  padding: 0.8rem 0;
  font-size: 20px;
}
.choose-plan__list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5rem;
  color: #777;
}
.choose-plan__list li {
  padding: 10px 0;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
}
.choose-plan__list li:last-child {
  border-bottom: 1px solid #eee;
}
.choose-plan__bottom h2 {
  font-size: 2.2rem;
  font-weight: 600;
  padding: 1rem 0;
}
.choose-plan__btn {
  display: none;
}
.choose-plan__bottom span {
  font-size: 14px;
  font-weight: 600;
  padding: 12px 0;
  display: block;
}
.choose-plan__card:hover {
  background-image: linear-gradient(
    to right,
    rgb(70, 70, 194),
    rgb(161, 161, 219)
  );
}
.choose-plan__card:hover > *,
.choose-plan__card:hover p,
.choose-plan__card:hover li {
  color: #fff;
  border-color: #fff;
}
.choose-plan__card:hover .choose-plan__btn {
  display: inline-block;
  border: none;
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
}
.choose-plan__card:hover span {
  display: none;
}

/* ======BLOG section======= */

.blog__posts {
  padding-top: 3%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem 2rem;
}
.blog__post {
  transition: color 0.4s ease;
}
.blog_image-container {
  overflow: hidden;
}
.blog__image {
  width: 100%;
  margin-bottom: 6px;
  overflow: hidden;
}
.blog__info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  align-items: center;
  font-weight: 300;
  color: grey;
  padding-bottom: 8px;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #eee;
}
.blog__info__left,
.blog__info__right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.blog__info__right {
  justify-content: flex-end;
}
.blog__avatar {
  max-width: 100%;
}
.blog__author {
  color: black;
}
.blog__title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.1;
  padding: 1rem 0;
}
.blog__text {
  color: rgb(119, 119, 119);
  font-size: 1rem;
  font-weight: 300;
}
.blog__post:hover a {
  color: #8490ff;
}
.blog__post:hover .blog__image {
  transform: scale(0.98);
}

/* ======SPONSORS section====== */

.sponsors-section {
  background-image: linear-gradient(
    to right,
    rgb(70, 70, 194),
    rgb(161, 161, 219)
  );
}
.sponsors-section .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 4%;
}
.sponsors__image-container {
  display: none;
}
.sponsors__image-container:first-child,
.sponsors__image-container:last-child {
  display: initial;
}
.sponsors__image-container img {
  opacity: 0.6;
}
.sponsors__image-container img:hover {
  opacity: 1;
}
