body {
  background-color: rgb(233, 241, 243);
}
.section {
  padding: 6% 0;
  background-color: #fff;
  /* box-shadow: 0px 0px 1px black; */
  .section-header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    &__title {
      font-size: 1.8rem;
      padding-bottom: 0.8rem;
    }
    &__text {
      font-size: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }
  .section-subtitle {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
  }
}
.container {
  padding: 0;
}

p {
  color: grey;
}
